<ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion" id="accordionSidebar" xmlns:th="http://www.thymeleaf.org" th:fragment="navigation">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{(${role == 'ROLE_ADMIN'} ? '/dashboard' : '/request')}">
    <div class="sidebar-brand-icon rotate-15">
      <i class="fas fa-hand-holding-heart"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Baper berseri</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" th:classappend="${page == 'dashboard'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/dashboard}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Users -->
  <li class="nav-item" th:classappend="${page == 'user'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/user}">
      <i class="fas fa-fw fa-users"></i>
      <span>Users</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Penerima -->
  <li class="nav-item" th:classappend="${page == 'penerima-pondok' or page == 'penerima-panti'} ? 'active' : ''">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWarehouse" aria-expanded="false" aria-controls="collapseWarehouse">
      <i class="fas fa-fw fa-warehouse"></i>
      <span>Penerima</span>
    </a>
    <div id="collapseWarehouse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">List Penerima</h6>
        <a class="collapse-item" th:href="@{/penerima/pondok}" th:classappend="${page == 'penerima-pondok'} ? 'active' : ''">Pondok Tahfidz</a>
        <a class="collapse-item" th:href="@{/penerima/panti}" th:classappend="${page == 'penerima-panti'} ? 'active' : ''">Panti Yatim &amp; Dhuafa</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Cabang -->
  <li class="nav-item" th:classappend="${page == 'cabang'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/reference}">
      <i class="fas fa-fw fa-code-branch"></i>
      <span>Cabang</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Donatur -->
  <li class="nav-item" th:classappend="${page == 'donatur'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/donatur}">
      <i class="fas fa-fw fa-hand-holding-heart"></i>
      <span>Donatur</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Kegiatan -->
  <li class="nav-item" th:classappend="${page == 'kegiatan'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/kegiatan}">
      <i class="fas fa-fw fa-utensils"></i>
      <span>Kegiatan</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Photo -->
  <li class="nav-item" th:classappend="${page == 'photo'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/photo}">
      <i class="fas fa-fw fa-images"></i>
      <span>Foto</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Testimoni -->
  <li class="nav-item" th:classappend="${page == 'testimoni'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/testimoni}">
      <i class="fas fa-fw fa-comments"></i>
      <span>Testimoni</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Request -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
      <i class="fas fa-sign-out-alt fa-fw"></i>
      <span>Keluar</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>