<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="topbar" xmlns:th="http://www.thymeleaf.org">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <h6 class="col-md-6 m-0 font-weight-bold text-primary text-left" th:if="${page == 'dashboard'}">
    Filter :
    <span id="reportrange" style="cursor: pointer;">
          <span></span>
        </span>
  </h6>
  <!-- Topbar Search -->
<!--  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--    <div class="input-group">-->
<!--      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
<!--      <div class="input-group-append">-->
<!--        <button class="btn btn-primary" type="button">-->
<!--          <i class="fas fa-search fa-sm"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
<!--    <li class="nav-item dropdown no-arrow d-sm-none">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <i class="fas fa-search fa-fw"></i>-->
<!--      </a>-->
      <!-- Dropdown - Messages -->
<!--      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in" aria-labelledby="searchDropdown">-->
<!--        <form class="form-inline mr-auto w-100 navbar-search">-->
<!--          <div class="input-group">-->
<!--            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
<!--            <div class="input-group-append">-->
<!--              <button class="btn btn-primary" type="button">-->
<!--                <i class="fas fa-search fa-sm"></i>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </li>-->
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
      <h4 class="h4 mb-0 text-gray-800">Dashboard</h4>
      <!--             <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

  </ul>

</nav>