<div class="row" th:fragment="card" xmlns:th="http://www.thymeleaf.org">
  <!--/*@thymesVar id="widgets" type="String[]"*/-->
  <div class="col-xl-3 col-md-6 mb-4" th:each="widget : ${widgets}">
    <div class="card shadow h-100 py-2" th:classappend="${widget[2]}">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1" th:classappend="${widget[3]}" th:text="${'Request '+widget[0]}">Request JNE</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(widget[1],0,'POINT',0,'NONE')}">40,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="col-xl-3 col-md-6 mb-4">-->
<!--    <div class="card border-left-success shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Request Anteraja</div>-->
<!--            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(widget[0][1],0,'POINT',0,'NONE')}">20,000</div>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-xl-3 col-md-6 mb-4">-->
<!--    <div class="card border-left-warning shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Requests SiCepat</div>-->
<!--&lt;!&ndash;            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(widget[0][2],0,'POINT',0,'NONE')}">20,000</div>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-xl-3 col-md-6 mb-4">-->
<!--    <div class="card border-left-danger shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Requests Q9</div>-->
<!--&lt;!&ndash;            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(widget[0][3],0,'POINT',0,'NONE')}">20,000</div>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>