#section-to-print > table {
  color: black !important;
}
#section-to-print > [id^="idModalPrint"] {
  border: 2px solid black;
  border-collapse: collapse;
}
[id^="idModalPrint"] td, [id^="idModalPrint"] th {
  border: 2px solid black !important;
}

@media print {
  body * {
    visibility: hidden;
  }
  table, [id^="idModalPrint"] td, [id^="idModalPrint"] th {
    border: 2px solid black !important;
  }
  table {
    border-collapse: collapse;
  }
  #section-to-print [id^="idModalPrint"], #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
  #section-to-print .modal-footer {
    visibility: hidden;
  }
  table {
    page-break-inside: avoid;
  }
}