.bg-login-image {
    background: url(../../img/baper.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-gradient-baper {
    background-color: #fea64b;
    background-image: linear-gradient(180deg,#fddd59 10%,#ec8a23 100%);
    background-size: cover;
}

.btn-primary {
    color: #fff;
    background-color: #fea64b;
    border-color: #fea64b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ec8a23;
    border-color: #fddd59;
}

.nav-link.active {
    background-color: #f8f9fc !important;
}

#section-to-print > table {
    color: black !important;
}
#section-to-print > table[id^="idModalPrint"] {
    border: 2px solid black;
    border-collapse: collapse;
}
[id^="idModalPrint"] td, [id^="idModalPrint"] th {
    border: 2px solid black !important;
}

@media print {
    body * {
        visibility: hidden;
    }
    table, th, td {
        border: 2px solid black;
    }
    table {
        border-collapse: collapse;
    }
    #section-to-print [id^="idModalPrint"], #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
    #section-to-print .modal-footer {
        visibility: hidden;
    }
    table {
        page-break-inside: avoid;
    }
}