<div class="row" th:fragment="dashboard" xmlns:th="http://www.thymeleaf.org">
  <!-- Pie Chart JNE -->
<!--  <div class="col-xl-3 col-lg-6">-->
<!--    <div class="card shadow mb-4">-->
<!--      &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--        <h6 class="m-0 font-weight-bold text-primary">Request JNE</h6>-->
<!--      </div>-->
<!--      &lt;!&ndash; Card Body &ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <div class="chart-pie pt-4 pb-2">-->
<!--          <canvas id="myPieChart"></canvas>-->
<!--        </div>-->
<!--        <div class="mt-4 text-center small">-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-primary"></i>-->
<!--            Done-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-success"></i>-->
<!--            Pending-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-info"></i>-->
<!--            Request-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Pie Chart Anteraja&ndash;&gt;-->
<!--  <div class="col-xl-3 col-lg-6">-->
<!--    <div class="card shadow mb-4">-->
<!--      &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--        <h6 class="m-0 font-weight-bold text-primary">Request Anteraja</h6>-->
<!--      </div>-->
<!--      &lt;!&ndash; Card Body &ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <div class="chart-pie pt-4 pb-2">-->
<!--          <canvas id="myPieChart"></canvas>-->
<!--        </div>-->
<!--        <div class="mt-4 text-center small">-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-primary"></i>-->
<!--            Done-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-success"></i>-->
<!--            Pending-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-info"></i>-->
<!--            Request-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Pie Chart SiCepat&ndash;&gt;-->
<!--  <div class="col-xl-3 col-lg-6">-->
<!--    <div class="card shadow mb-4">-->
<!--      &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--        <h6 class="m-0 font-weight-bold text-primary">Request SiCepat</h6>-->
<!--      </div>-->
<!--      &lt;!&ndash; Card Body &ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <div class="chart-pie pt-4 pb-2">-->
<!--          <canvas id="myPieChart"></canvas>-->
<!--        </div>-->
<!--        <div class="mt-4 text-center small">-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-primary"></i>-->
<!--            Done-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-success"></i>-->
<!--            Pending-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-info"></i>-->
<!--            Request-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Pie Chart Q9&ndash;&gt;-->
<!--  <div class="col-xl-3 col-lg-6">-->
<!--    <div class="card shadow mb-4">-->
<!--      &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--        <h6 class="m-0 font-weight-bold text-primary">Request Q9</h6>-->
<!--      </div>-->
<!--      &lt;!&ndash; Card Body &ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <div class="chart-pie pt-4 pb-2">-->
<!--          <canvas id="myPieChart"></canvas>-->
<!--        </div>-->
<!--        <div class="mt-4 text-center small">-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-primary"></i>-->
<!--            Done-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-success"></i>-->
<!--            Pending-->
<!--          </span>-->
<!--          <span class="mr-2">-->
<!--            <i class="fas fa-circle text-info"></i>-->
<!--            Request-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>