<div class="card shadow mb-4 mt-4 pt-3" th:fragment="user" xmlns:th="http://www.thymeleaf.org">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="baperian-tab" data-toggle="tab" href="#baperian" role="tab" aria-controls="baperian" aria-selected="true">Baperian</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="donatur-tab" data-toggle="tab" href="#donatur" role="tab" aria-controls="donatur" aria-selected="false">Donatur</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="yayasan-tab" data-toggle="tab" href="#yayasan" role="tab" aria-controls="yayasan" aria-selected="false">Yayasan</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="baperian" role="tabpanel" aria-labelledby="baperian-tab">
      <div class="card-header py-3">
        <div class="row">
          <span class="col-md-6 m-0 font-weight-bold text-primary">List Baperians</span>
          <span class="col-md-6 m-0 text-right">
        <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-plus-circle"></i> New
        </a>
        <a href="javascript:void(0);" id="delete-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-trash-alt"></i> Delete
        </a>
        <a href="javascript:void(0);" id="edit-user" data-target="#modal-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-edit"></i> Edit
        </a>
      </span>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered pt-2 table-sm" id="myTable" cellspacing="0">
          <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Cabang</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="donatur" role="tabpanel" aria-labelledby="donatur-tab">
      <div class="card-header py-3">
        <div class="row">
          <span class="col-md-6 m-0 font-weight-bold text-primary">List Donaturs</span>
          <span class="col-md-6 m-0 text-right">
        <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-plus-circle"></i> New
        </a>
        <a href="javascript:void(0);" id="delete-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-trash-alt"></i> Delete
        </a>
        <a href="javascript:void(0);" id="edit-user" data-target="#modal-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-edit"></i> Edit
        </a>
      </span>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered pt-2 table-sm" id="myTable" cellspacing="0">
          <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Cabang</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="yayasan" role="tabpanel" aria-labelledby="yayasan-tab">
      <div class="card-header py-3">
        <div class="row">
          <span class="col-md-6 m-0 font-weight-bold text-primary">List Yayasan</span>
          <span class="col-md-6 m-0 text-right">
        <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-plus-circle"></i> New
        </a>
        <a href="javascript:void(0);" id="delete-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-trash-alt"></i> Delete
        </a>
        <a href="javascript:void(0);" id="edit-user" data-target="#modal-user" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-edit"></i> Edit
        </a>
      </span>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered pt-2 table-sm" id="myTable" cellspacing="0">
          <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Cabang</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div th:replace="~{pages/backend/modals/md-user :: user}"></div>
</div>