<div class="modal fade" id="modal-payment-condition" tabindex="-1" role="dialog" aria-hidden="true" th:fragment="payment-condition" xmlns:th="http://www.thymeleaf.org">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">New Payment Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-payment-condition" method="post" class="col-md-12mx-auto p-2">
          <div class="form-group">
            <label for="courierName">Courier Name</label>
            <select id="courierName" name="courier_name" class="select2-container">
            </select>
          </div>
          <div class="form-group">
            <label for="courierService">Courier Service</label>
            <select id="courierService" name="courier_service" class="select2-container">
            </select>
          </div>
          <div class="form-group">
            <label for="inputType">Type &emsp; </label>
            <select id="inputType" name="type" class="select2-container">
              <option value="kota">Kota</option>
              <option value="provinsi">Provinsi</option>
            </select>
<!--            <div class="custom-control custom-radio custom-control-inline">-->
<!--              <input type="radio" id="radioTypeKota" name="type" class="custom-control-input" value="kota" checked>-->
<!--              <label class="custom-control-label" for="radioTypeKota">Kota</label>-->
<!--            </div>-->
<!--            <div class="custom-control custom-radio custom-control-inline">-->
<!--              <input type="radio" id="radioTypeProvinsi" name="type" class="custom-control-input" value="provinsi">-->
<!--              <label class="custom-control-label" for="radioTypeProvinsi">Provinsi</label>-->
<!--            </div>-->
          </div>
          <div class="form-group d-flex justify-content-start">
            <label for="reportrange">Duration &emsp; </label>
            <input type="text" hidden id="startDateId" name="startDate" />
            <input type="text" hidden id="endDateId" name="endDate"/>
            <button type="button" id="reportrange" class="btn btn-outline-primary btn-sm">
              <i class="text-danger" data-feather="calendar" width="17" height="17"></i>&nbsp;
              <span></span>
              <i class="text-danger" data-feather="chevron-down" width="17" height="17"></i>
            </button>
          </div>
          <div class="form-group">
            <label for="inputKey">Key</label>
            <select id="inputKey" name="key" class="select2-container">
            </select>
          </div>
          <div class="form-group">
            <label for="inputValue">Value</label>
            <select id="inputValue" name="value" class="select2-container">
              <option value="transparent">Transparent</option>
              <option value="flat">Flat</option>
              <option value="free">Free</option>
              <option value="transparent|discount">Transparent|Discount</option>
              <option value="flat|discount">Flat|Discount</option>
            </select>
          </div>
          <input hidden id="id" name="id">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary font-weight-bold text-white mr-auto" data-dismiss="modal">
          <i class="fas fa-fw fa-times-circle"></i> Cancel
        </button>
        <button type="submit" id="submit-form" data-crud="new" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-save"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>