<div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-hidden="true" th:fragment="user" xmlns:th="http://www.thymeleaf.org">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-warehouse-location" method="post" class="col-md-12mx-auto p-2">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control form-control-sm" name="email" type="email" required/>
          </div>
          <div class="form-group">
            <label for="warehouse">Warehouse</label>
            <select id="warehouse" name="warehouse" class="select2-container">
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control form-control-sm" name="password" type="password" aria-describedby="passwordHelp" required/>
            <small id="passwordHelp" class="form-text text-muted">We'll never change your password if you not fill this field.</small>
          </div>
          <input hidden id="id" name="id">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary font-weight-bold text-white mr-auto" data-dismiss="modal">
          <i class="fas fa-fw fa-times-circle"></i> Cancel
        </button>
        <button type="submit" id="submit-form" data-crud="new" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-save"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>