<div class="modal fade" id="modal-warehouse-location" tabindex="-1" role="dialog" aria-hidden="true" th:fragment="warehouse-location" xmlns:th="http://www.thymeleaf.org">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">New Warehouse Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-warehouse-location" method="post" class="col-md-12mx-auto p-2">
          <div class="form-group">
            <label for="picName">PIC Name</label>
            <input id="picName" class="form-control form-control-sm" name="picName" required/>
          </div>
          <div class="form-group">
            <label for="picPhone">PIC Phone</label>
            <input id="picPhone" class="form-control form-control-sm" name="picPhone" required/>
          </div>
          <div class="form-group">
            <label for="courierName">Courier Name</label>
            <select id="courierName" name="courier_name" class="select2-container" th:if="${page == 'warehouse-kurir'}">
              <option value="ANTERAJA">ANTERAJA</option>
              <option value="JNE">JNE</option>
              <option value="Q9">Q9</option>
              <option value="SICEPAT">SICEPAT</option>
            </select>
            <select id="courierName" name="courier_name" class="select2-container" th:if="${page == 'warehouse-ojol'}">
              <option value="GOSEND">GOSEND</option>
            </select>
          </div>
          <div class="form-group">
            <label for="buID">BU ID</label>
            <select id="buID" name="buid" class="select2-container">
              <option value="3415">3415 - FSL Jakarta Selatan</option>
              <option value="3416">3416 - FSL Bogor</option>
              <option value="3429">3429 - FSL Pamasuka</option>
              <option value="3430">3430 - FSL Sumatera</option>
              <option value="3431">3431 - FSL Jawa Bali DIY</option>
              <option value="3438">3438 - FSL Jakarta Timur</option>
              <option value="3439">3439 - FSL Bandung</option>
              <option value="3440">3440 - FSL Tangerang</option>
              <option value="3441">3441 - FSL Bekasi</option>
              <option value="3442">3442 - FSL Serang</option>
              <option value="3443">3443 - FSL Garut</option>
              <option value="3444">3444 - FSL Karawang</option>
              <option value="3445">3445 - FSL Cirebon</option>
              <option value="3446">3446 - FSL Sukabumi</option>
              <option value="3447">3447 - FSL Tasikmalaya</option>
              <option value="3448">3448 - FSL Malang</option>
              <option value="3449">3449 - FSL Semarang</option>
              <option value="3450">3450 - FSL Surabaya</option>
              <option value="3451">3451 - FSL Yogyakarta</option>
              <option value="3452">3452 - FSL Surakarta</option>
              <option value="3453">3453 - FSL Purwokerto</option>
              <option value="3454">3454 - FSL Banyuwangi</option>
              <option value="3455">3455 - FSL Demak</option>
              <option value="3456">3456 - FSL Gresik</option>
              <option value="3457">3457 - FSL Jember</option>
              <option value="3458">3458 - FSL Jepara</option>
              <option value="3459">3459 - FSL Kebumen</option>
              <option value="3460">3460 - FSL Kediri</option>
              <option value="3461">3461 - FSL Madiun</option>
              <option value="3462">3462 - FSL Probolinggo</option>
              <option value="3463">3463 - FSL Pekalongan</option>
              <option value="3464">3464 - FSL Salatiga</option>
              <option value="3465">3465 - FSL Tegal</option>
              <option value="3466">3466 - FSL Magelang</option>
              <option value="3467">3467 - FSL Pati</option>
              <option value="3468">3468 - FSL Sampang</option>
            </select>
          </div>
          <div class="form-group">
            <label for="senderName">Sender Name</label>
            <input id="senderName" class="form-control form-control-sm" name="sender" required/>
          </div>
          <div class="form-group">
            <label for="kota">Kota</label>
            <input id="kota" class="form-control form-control-sm" name="kota" required/>
          </div>
          <div class="form-group">
            <label for="kecamatan">Kecamatan</label>
            <input id="kecamatan" class="form-control form-control-sm" name="kecamatan" required/>
          </div>
          <div class="form-group">
            <label for="kodePos">Kode Pos</label>
            <input id="kodePos" class="form-control form-control-sm" name="kodePos" required/>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input id="address" class="form-control form-control-sm" name="address" required/>
          </div>
          <div class="form-group">
            <label for="opDays">Operation Days</label>
            <input id="opDays" class="form-control form-control-sm" name="operationDays" required/>
          </div>
          <div class="form-group">
            <label for="opHourStart">Operation Hour Start</label>
            <input id="opHourStart" class="form-control form-control-sm" name="operationHourStart" required/>
          </div>
          <div class="form-group">
            <label for="opHourEnd">Operation Hour End</label>
            <input id="opHourEnd" class="form-control form-control-sm" name="operationHourEnd" required/>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" name="status" class="select2-container">
              <option value="1">Active</option>
              <option value="0">InActive</option>
            </select>
          </div>
          <input hidden th:value="${page == 'warehouse-kurir'} ? 'kurir' : 'ojol'" name="type">
          <div class="form-group" th:if="${page == 'warehouse-ojol'}">
            <label for="latlong">Lat Long</label>
            <input id="latlong" class="form-control form-control-sm" name="latlong" required/>
          </div>
          <input hidden id="id" name="id">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary font-weight-bold text-white mr-auto" data-dismiss="modal">
          <i class="fas fa-fw fa-times-circle"></i> Cancel
        </button>
        <button type="submit" id="submit-form" data-crud="new" class="btn btn-sm btn-primary font-weight-bold text-white">
          <i class="fas fa-fw fa-save"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>