<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text="${title}">Baperberseri</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
  <link th:href="@{/custom/datatables/jquery.dataTable.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/vendor/daterangepicker/daterangepicker.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/vendor/select2/css/select2.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/vendor/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/custom/css/sb-custom.css}" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/backend/side-nav :: navigation}"></div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <div th:replace="${page == 'dashboard'} ? ~{fragments/backend/top-nav :: topbar} : ~{}"></div>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div th:replace="~{fragments/backend/widget-card :: card}"></div>
          <!-- Content Row -->
          <div th:replace="${page == 'dashboard'} ? ~{pages/backend/pg-dashboard :: dashboard} : ~{}"></div>
          <div th:replace="${page == 'user'} ? ~{pages/backend/pg-user :: user} : ~{}"></div>

        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Baper Berseri 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div th:replace="~{pages/backend/modals/md-logout_confirm :: logout}"></div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>

  <script th:inline="javascript">
    var type = [[${type}]];
  </script>
  <script th:inline="javascript" th:if="${page == 'payment-condition'}">
    var getData = [[@{/rest/payment-list}]];
    var getTypeRef = [[@{/rest/get/type-reference}]];
    var getCourierService = [[@{/rest/get/courier-service}]];
    var getCourierName = [[@{/rest/get/courier-name}]];
    var sendPaymentCondition = [[@{/rest/payment-insert}]];
    var updatePaymentCondition = [[@{/rest/payment-update}]];
    var deletePayment = [[@{/rest/payment-delete/}]];
  </script>
  <script th:inline="javascript" th:if="${page == 'warehouse-reference'}">
    var getData = [[@{/rest/reference-list}]];
  </script>
  <script th:inline="javascript" th:if="${page == 'warehouse-kurir' or page == 'warehouse-ojol'}">
    var getData = [[@{/rest/warehouse-list}]];
    var sendWarehouseLocation = [[@{/rest/warehouse-insert}]];
    var updateWarehouseLocation = [[@{/rest/warehouse-update}]];
    var deleteWarehouse = [[@{/rest/warehouse-delete/}]];
  </script>
  <script th:inline="javascript" th:if="${page == 'user-kurir' or page == 'user-ojol'}">
    var getData = [[@{/rest/user-list}]];
    var sendUser = [[@{/rest/user-insert}]];
    var deleteUser = [[@{/rest/user-delete/}]];
    var updateUser = [[@{/rest/user-update/}]];
    var getWarehouse = [[@{/rest/check-warehouse/}]];
  </script>

  <!-- Page level plugins -->
<!--  <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>-->
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/daterangepicker/daterangepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.buttons.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/pdfmake.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/vfs_fonts.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/buttons.html5.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.select.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/datetime-moment.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/sweetalert/sweetalert2@8.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/select2/js/select2.min.js}"></script>

  <!-- Page level custom scripts -->
  <script type="text/javascript">
    $(document).ready(function() {
      $.fn.select2.defaults.set("theme", "bootstrap");
      $('.select2-container').select2();
    });
    $(function() {
      var start = moment().startOf('month');
      var end =  moment().endOf('month');
      $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
      $('#startDateId').val(start.format("YYYY-MM-DD"));
      $('#endDateId').val(end.format("YYYY-MM-DD"));
      function cb(start, end) {
        $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
      }

      $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        applyButtonClasses: 'btn-primary'
      }, cb);
    });
  </script>

  <script th:if="${page == 'payment-condition'}" th:src="@{/custom/js/pg_payment-condition.js}"></script>
  <script th:if="${page == 'payment-condition'}" th:src="@{/custom/js/form_payment-condition.js}"></script>
  <script th:if="${page == 'warehouse-kurir' or page == 'warehouse-ojol'}" th:src="@{/custom/js/pg_warehouse-location.js}"></script>
  <script th:if="${page == 'warehouse-kurir' or page == 'warehouse-ojol'}" th:src="@{/custom/js/form_warehouse-location.js}"></script>
  <script th:if="${page == 'warehouse-reference'}" th:src="@{/custom/js/pg_warehouse-reference.js}"></script>
  <script th:if="${page == 'user-kurir' or page == 'user-ojol'}" th:src="@{/custom/js/pg_user.js}"></script>
  <script th:if="${page == 'user-kurir' or page == 'user-ojol'}" th:src="@{/custom/js/form_user.js}"></script>
</body>

</html>
